body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

canvas {
    display: block;
}

div {
    margin: auto; 
}

section {
    position: fixed;
    text-align: center;
    height: 5%;
    width: 100%;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    color: rgb(255, 225, 225);
}

#timeline {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    left: 37.5%;
    top: 1800%;
}

#date {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    left: 37.5%;
    top: 1725%;
    font-size: 24px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: rgb(65, 50, 50);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(255, 225, 225);
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(255, 225, 225);
    cursor: pointer; /* Cursor on hover */
}